:root {
  @include font(14px, 500, 1.3)
}

body {
  font-family: 'Roboto', sans-serif;
}
  
img{
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
} 

  body.modal-open {
  overflow: hidden;
}