$accent-color: #ff6b08;
$light-text-color: #ffffff;
$primary-text-color: #000000;
$secondary-text-color: #545454;
$describe-text-color: #8c8c8c;
$active-button-color: #ff6b01;

$bg-primary-color: #ffffff;
$bg-secondary-color: #f7f7f7;

$border-radius: 5px;
$function-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$text-shadow: rgb(230, 231, 230) 0.5px 0 3px;
