$accent-color: #FF6B08;
$light-text-color: #FFFFFF;
$primary-text-color:  #000000;
$secondary-text-color: #545454;
$describe-text-color: #8C8C8C;

$bg-primary-color: #FFFFFF;
$bg-secondary-color: #F7F7F7;

$border-radius: 5px;
$function-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);