<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <ul class="footer-copyright">
                <li class="footer-copyright-item">&#169; 2020</li>
                <li class="footer-copyright-item">All Rights Reserved</li>
            </ul>

            <p>
                Developed with <span class="heart"> &hearts;</span>by
                <span class="team js-team-modal">GoIT Students</span>
            </p>
        </div>
    </div>
</footer>