<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p class="footer-text">
                <span class="footer-copyright-item">&#169; 2020</span>
                <span class="footer-copyright-item">All Rights Reserved</span>
            </p>

            <p class="footer-text">
                Developed with
                <svg class="icon-footer-heart">
          <use href="./images/footer-heart.svg#icon-footer-heart"></use>
        </svg> by
                <button class="team js-team-modal">GoIT Students</button>
            </p>
        </div>
    </div>
</footer>