<div class="screen-background">
  
        <div class="container animation-thumb">

            <header class="header">
         
                
                
                <a class="header__link">
                    <svg class="header__icon" width="24" height="24">
                        <use href="./favicon.svg#film-icon"></use>
                    </svg>
                    <span class="header__logo">Filmoteka</span>
                </a>
                
                
                <div class="flex-thumb">

            <nav class="site-nav">

                    <ul class="site-nav__list">
                        <li class="site-nav__item"> <a class="site-nav__link is-active">HOME</a></li>
                        <li class="site-nav__item"> <a class="site-nav__link">MY LIBRARY</a></li>
                    </ul>

                   
            </nav>

            <div class="auth"><!-- place for auth button --></div>

            </div>

          

            </header>

            <div class="hero">

                <form class="hero__form">
                    <input class="hero__input" type="text" name="movies" id="input" minlength="2" required autocomplete="off"
                        placeholder="Поиск фильмов">
                    <button class="hero__search-button" type="submit">
                        <svg class="hero__search-icon" width="12" height="12">
                            <use href="./search-icon.svg#search-new"></use>
                        </svg>
                    </button>

                </form>

                <div class="notification-text"></div>


                <ul class="hero__list is-hidden ">
                    <li class="hero__item"> <button class="hero__button" type="button">WATCHED</button> </li>
                    <li class="hero__item"> <button class="hero__button" type="button">QUEUE</button></li>
                </ul>
 
        </div>

    </div>
</div>