 
    <header class="main-header">

        
        <div class="header-container">

        <div class="flex-thumb">

    <a href="/index.html">
        <svg class="main-header__icon" width="24" height="24">
        <use href="./film-icon.svg#film-icon"></use>
        </svg>
        <span class="main-header__logo">Filmoteka</span>
    </a>

    <!-- <form class="site-nav" action="/index.html" >
        <button type="button" class="site-nav__button">HOME</button>
        <button type="button" class="site-nav__button">MY LIBRARY</button>
    </form>
     -->

    <ul class="site-nav">
        <li class="site-nav__item"> <button type="button" class="site-nav__button ">HOME</button></li>
        <li class="site-nav__item"> <button type="button" class="site-nav__button">MY LIBRARY</button></li> 
    </ul>

</div>

 <form class="main-header__form">
<input class="main-header__input" type="text "name="movies" id="" placeholder="Поиск фильмов">
<button class="main-header__search-button" type="submit">
    <svg class="main-header__search-icon" width="12" height="12">
    <use href="./search-icon.svg#search-icon"></use>
</svg></button>

 </form>

   
   
</div>



    </header>

 