<section class="section">
  <div class="container">
    <ul class="main__list">
        <li class="main__item">
            <a class="main__link" href="#">
                <div class="main__thumb">
                    <img src="/jpg/Rectangle 5.jpg" alt="poster" width="280px" height="398px"></img>
                </div>
                <div class="main__content">
                    <h3 class="main__title">GREYHOUND</h3>
                <p class="main__text">Drama, Action | 2020</p>
            </div>
            </a>
    </li>
       <li class="main__item">
            <a class="main__link" href="#">
                <div class="main__thumb">
                    <img src="/jpg/Rectangle 5.jpg" alt="poster"></img>
                </div>
                <div class="main__content">
                    <h3 class="main__title">GREYHOUND</h3>
                <p class="main__text">Drama, Action | 2020</p>
            </div>
            </a>
    </li>
      <li class="main__item">
            <a class="main__link" href="#">
                <div class="main__thumb">
                    <img src="/jpg/Rectangle 5.jpg" alt="poster"></img>
                </div>
                <div class="main__content">
                    <h3 class="main__title">GREYHOUND</h3>
                <p class="main__text">Drama, Action | 2020</p>
            </div>
            </a>
    </li>
      <li class="main__item">
            <a class="main__link" href="#">
                <div class="main__thumb">
                    <img src="/jpg/Rectangle 5.jpg" alt="poster"></img>
                </div>
                <div class="main__content">
                    <h3 class="main__title">GREYHOUND</h3>
                <p class="main__text">Drama, Action | 2020</p>
            </div>
            </a>
    </li>
      <li class="main__item">
            <a class="main__link" href="#">
                <div class="main__thumb">
                    <img src="/jpg/Rectangle 5.jpg" alt="poster"></img>
                </div>
                <div class="main__content">
                    <h3 class="main__title">GREYHOUND</h3>
                <p class="main__text">Drama, Action | 2020</p>
            </div>
            </a>
    </li>
      <li class="main__item">
            <a class="main__link" href="#">
                <div class="main__thumb">
                    <img src="/jpg/Rectangle 5.jpg" alt="poster"></img>
                </div>
                <div class="main__content">
                    <h3 class="main__title">GREYHOUND</h3>
                <p class="main__text">Drama, Action | 2020</p>
            </div>
            </a>
    </li>
      <li class="main__item">
            <a class="main__link" href="#">
                <div class="main__thumb">
                    <img src="/jpg/Rectangle 5.jpg" alt="poster"></img>
                </div>
                <div class="main__content">
                    <h3 class="main__title">GREYHOUND</h3>
                <p class="main__text">Drama, Action | 2020</p>
            </div>
            </a>
    </li>
      <li class="main__item">
            <a class="main__link" href="#">
                <div class="main__thumb">
                    <img src="/jpg/Rectangle 5.jpg" alt="poster"></img>
                </div>
                <div class="main__content">
                    <h3 class="main__title">GREYHOUND</h3>
                <p class="main__text">Drama, Action | 2020</p>
            </div>
            </a>
    </li>
      <li class="main__item">
            <a class="main__link" href="#">
                <div class="main__thumb">
                    <img src="/jpg/Rectangle 5.jpg" alt="poster"></img>
                </div>
                <div class="main__content">
                    <h3 class="main__title">GREYHOUND</h3>
                <p class="main__text">Drama, Action | 2020</p>
            </div>
            </a>
    </li>
    </ul>
  </div>
</section>
