<div class="modal-area" data-modal>
    <div class="modal">
        <img class="modal__img" 
        srcset="./images/film-modal/Rectangle.jpg 1x, ./images/film-modal/Rectangle@2x.jpg 2x"
        src="./images/film-modal/Rectangle.jpg" alt="Poster">       
        <button data-modal-close class="close-btn">
            <svg width="30" height="30" class="close-btn__icon">
                <use href="./images/film-modal/close-icon.svg#icon-close">
                </use>
            </svg>
        </button>
        <div class="film__info">
            <h2 class="modal__title">
                A FISTFUL OF LEAD
            </h2>
            <ul>
                <li class="film__info-list">
                    <p class="film__property vote">Vote / Votes</p>
                    <div class="film__stat">
                        <span class="film__stat-vote">7.3</span>
                        /
                        <span class="film__stat-votes">1260</span>
                    </div>
                </li>
                <li class="film__info-list">
                    <span class="film__property popularity">Popularity</span>
                    <div class="film__stat">
                        <span class="film__stat-other">100.2</span>
                    </div>
                </li>
                <li class="film__info-list">
                    <span class="film__property original-title">Original Title</span>
                    <div class="film__stat">
                        <span class="film__stat-other">A FISTFUL OF LEAD</span>
                    </div>
                </li>
                <li class="film__info-list">
                    <span class="film__property genre">Genre</span>
                    <div class="film__stat">
                        <span class="film__stat-other">Western</span>
                    </div>
                </li>
            </ul>
            <div class="about">
                <h3 class="about-title">
                    ABOUT
                </h3>
                <p class="about-text">
                    Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
                    gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
                    abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
                    bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
                    been double crossed – but by who and how?                    
                </p>
            </div>
            <div class="main__btn-modal">
                <button type="button" class="main__btn main__btn-margin">
                ADD TO WACHTED
                </button>
                <button type="button" class="main__btn">
                ADD TO QUEUE
                </button>
            </div>
            
        </div>
    </div>
</div>