<div class="backdrop is-hidden" data-modal-team>
    <div class="modal-team">
        <button class="modal-team__button-close" data-team-close>
            <svg class="modal-team__icon-close">
                <use href="./images/modal-team/icon-close.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-team__team-name"><span class="modal-team__team-name modal-team__team-name--black">Go</span><span class="modal-team__team-name modal-team__team-name--orange">IT</span>7 group</h2>
        <ul class="modal-team__list">
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img src="./images/modal-team/Pavel Baturin.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavel Baturin</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img src="./images/modal-team/Pavel Baturin.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavel Baturin</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img src="./images/modal-team/Pavel Baturin.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavel Baturin</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img src="./images/modal-team/Pavel Baturin.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavel Baturin</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img src="./images/modal-team/Pavel Baturin.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavel Baturin</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img src="./images/modal-team/Pavel Baturin.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavel Baturin</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img src="./images/modal-team/Pavel Baturin.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavel Baturin</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img src="./images/modal-team/Pavel Baturin.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavel Baturin</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
        </ul>
    </div>
</div>