<div class="backdrop is-hidden" data-modal-team>
    <div class="modal-team">
        <button class="modal-team__button-close" data-team-close>
            <svg width="30" height="30" class="modal-team__icon-close">
                <use href="./images/modal-team/icon-close.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-team__title">
            <img src="./images/modal-team/logo.png" alt="Логотип">
            <h2 class="modal-team__team-name">7 group</h2>
        </div>
        
        <ul class="modal-team__list">
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img loading="lazy" srcset="./images/modal-team/yuliia_pysarenko.jpg 1x, ./images/modal-team/yuliia_pysarenko@2x.jpg 2x" src="./images/modal-team/yuliia_pysarenko.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Yuliia Pysarenko</h3>
                    <p class="modal-team__role">Scrum master</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img loading="lazy" srcset="./images/modal-team/roman_khrapai.jpg 1x, ./images/modal-team/roman_khrapai@2x.jpg 2x" src="./images/modal-team/roman_khrapai.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Roman Khrapai</h3>
                    <p class="modal-team__role">Team Lead</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img loading="lazy" srcset="./images/modal-team/iryna_bazhynova.jpg 1x, ./images/modal-team/iryna_bazhynova@2x.jpg 2x" src="./images/modal-team/iryna_bazhynova.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Iryna Bazhynova</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img loading="lazy" srcset="./images/modal-team/kateryna_yevstyhnieieva.jpg 1x, ./images/modal-team/kateryna_yevstyhnieieva@2x.jpg 2x" src="./images/modal-team/kateryna_yevstyhnieieva.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name modal-team__name--no-margin">Kateryna Yevstyhnieieva</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img loading="lazy" srcset="./images/modal-team/pavlina_antipova.jpg 1x, ./images/modal-team/pavlina_antipova@2x.jpg 2x" src="./images/modal-team/pavlina_antipova.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavlina Antipova</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img loading="lazy" srcset="./images/modal-team/pavel_baturin.jpg 1x, ./images/modal-team/pavel_baturin@2x.jpg 2x" src="./images/modal-team/pavel_baturin.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Pavel Baturin</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img loading="lazy" srcset="./images/modal-team/roman_solovei.jpg 1x, ./images/modal-team/roman_solovei@2x.jpg 2x" src="./images/modal-team/roman_solovei.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name">Roman Solovei</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
            <li class="modal-team__item">
                <div class="modal-team__thumb">
                    <img loading="lazy" srcset="./images/modal-team/anatolii_markovskii.jpg 1x, ./images/modal-team/anatolii_markovskii@2x.jpg 2x" src="./images/modal-team/anatolii_markovskii.jpg" alt="фото члена команды">
                </div>
                <div class="modal-team__description">
                    <h3 class="modal-team__name modal-team__name--no-margin">Anatolii Markovskii</h3>
                    <p class="modal-team__role">Developer</p>
                </div>
            </li>
        </ul>
    </div>
</div>