.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 280px;
  @media screen and (min-width: 768px) {
    max-width: 617px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 882px;
  }
}
