.section {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery {
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
