
.section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }


}
.films-list {
  // margin-top: 100px;
  // margin-bottom: 100px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.film-card {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.film-card__img-box {
  margin-bottom: 10px;
}

.film-card__img-box img {
  width: 100%;
}

.film-card__name {
  font-size: 12px;
  line-height: 1.16em;
  text-transform: uppercase;
}

.film-card__info {
  color: $accent-color;
}
