.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  background-color: $bg-primary-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1280px) {
    display: flex;
    width: 880px;
    padding: 50px 30px 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    width: 620px;
    padding: 40px 30px;
  }

  @media screen and (min-width: 360px) and(max-width: 767px) {
    width: 280px;
    padding: 50px 20px 40px;
    overflow-y: scroll;
    max-height: 480px;
  }

  .modal-area--is-hidden & {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.data-modal-clear {
  @media screen and (min-width: 1280px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
  }
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  padding: 0px;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  color: $primary-text-color;
  transition: background-color $function-time, border $function-time, color $function-time;

  &:hover,
  &:focus {
    background-color: $accent-color;
    border: $accent-color;
    color: $bg-primary-color;
    cursor: pointer;
  }
}

.close-btn__icon {
  display: block;
  stroke: currentColor;
}

.modal__img {
  border-radius: $border-radius;
  margin-right: 30px;

  @media screen and (min-width: 1280px) {
    width: 396px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 264px;
    height: 374px;
  }

  @media screen and (max-width: 767px) {
    width: 240px;
    height: 360px;
  }
}

.modal__title {
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 20px;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
    margin-top: 30px;
  }
}

.vote {
  @media screen and (min-width: 1280px) {
    margin-right: 85px;
  }

  @media screen and (max-width: 1279px) {
    margin-right: 41px;
  }
}

.popularity {
  @media screen and (min-width: 1280px) {
    margin-right: 97px;
  }

  @media screen and (max-width: 1279px) {
    margin-right: 53px;
  }
}

.original-title {
  @media screen and (min-width: 1280px) {
    margin-right: 83px;
  }

  @media screen and (max-width: 1279px) {
    margin-right: 39px;
    min-width: 69px;
  }
}

.genre {
  @media screen and (min-width: 1280px) {
    margin-right: 120px;
  }

  @media screen and (max-width: 1279px) {
    margin-right: 76px;
  }
}

.film__info {
  font-weight: 500;
  font-size: 12px;
}

.film__property {
  color: $describe-text-color;
}

.film__info-list {
  display: flex;
  // align-items: center;
  margin-bottom: 10px;
}

.film__stat {
  display: flex;
  align-items: center;
}

.film__stat-vote {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
  line-height: 1.17;
  background-color: $bg-secondary-color;
  border-radius: $border-radius;
  margin-right: 3px;

  &:hover,
  &:focus {
    color: $light-text-color;
    background-color: $accent-color;
  }
}

.film__stat-votes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
  line-height: 1.17;
  background-color: $bg-secondary-color;
  border-radius: $border-radius;
  margin-left: 3px;

  &:hover,
  &:focus {
    color: $light-text-color;
    background-color: $accent-color;
  }
}

.about {
  padding-top: 10px;
  margin-bottom: 20px;
  line-height: 1.66;
}

.about-title {
  margin-bottom: 10px;
  line-height: 1.33;
}

.main__btn {
  background-color: $bg-primary-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  cursor: pointer;
  height: 44px;
  user-select: none;
  border: 1px solid;
  border-radius: $border-radius;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $light-text-color;
    background-color: $accent-color;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }

  @media screen and (max-width: 1279px) {
    width: 125px;
  }
}

.main__btn-margin {
  margin-right: 15px;
}

.main__btn-modal {
  display: flex;
}
